<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Twitter</title>
</head>
<body>
    <div class="container-fluid">
        <%-include('_logo'); %>
        <div class="row align-items-center justify-content-center">
            <p class="text-center fs-2 col-4">Un sitio para compartir contenido con personas de todo el mundo. Entérate de lo que sucede en cualquier parte, noticias, tendencias, chismes y más. ¿A qué estás esperando?</p>
        </div>
        <div class="row text-center mt-5">
            <div class="col-6">
                <h1>¿Ya tienes una cuenta?</h1>
                <a class="btn btn-danger btn-lg" href="/users/login" role="button" style="background-color:#ec5569;">
                    Inicia sesión
                </a>
            </div>
            <div class="col-6">
                <h1>¿Aún no tienes una cuenta?</h1>
                <a class="btn btn-danger btn-lg" href="/users/register" role="button" style="background-color:#ec5569;">
                    Regístrate
                </a>
            </div>
        </div>

    </div>
</body>
</html>